.expense-item {
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.expense-item:hover {
    opacity: 0.8;
}

.expense-item__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70%;
}

h2 {
    color: white;
    font-size: 1.3rem;
}

.expense-item__price {
    background-color:#464646;
    padding: .7rem ;
    border-radius: .5rem;
    margin-left: 1rem;
}

@media screen and (max-width : 699px) {
    h2 {
        font-size: 1rem;
    }
    .expense-item__price {
        background-color:#3F13A4;
        padding: .5rem;
        border-radius: .3rem;
        margin-left: 1rem;
        font-size: .8rem;
    }
}